
@{
    ViewData["Title"] = "NotAccess";
}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<div class="alert alert-danger">
    <h3>
        کاربر گرامی شما به این صفحه دسترسی ندارید .
    </h3>
</div>
